html {
  font-family: 'Fredoka One', sans-serif;
}
.outer-wrapper {
  background: repeating-linear-gradient(-45deg, #b3fbff, #b3fbff 10px, #c9fcff 20px,  #d4fdff 10px);
  height: 500px;

}

h1 {
  color: #990073;
  transform: rotate(-11deg);
}
p {
  color: #c09;
  transform: rotate(-4deg);
}
.btn {
  color: #c09;
}

.text {

  transform-origin: left center;
}

.ice-cream-cone {
  min-height: 500px;
}

.cherry {
  top: -30px;
  left: 50%;
  height: 180px;
  transform:translateX(-50%);
  animation: cherry-top 1s 5s linear forwards;
}
@keyframes cherry-top {

   0% {
  bottom: 100%;
 }

  100% {
  bottom: 30px;
   }

}

.cone {
  top: 305px;
  left: 50%;
  transform:translateX(-50%);
  position: absolute;
  width: 180px;
}

.chocolate {
  top: 120px;
  left: 50%;
  transform:translateX(-50%);
  position: absolute;
  width: 180px;
}

.mint {
  top: 200px;
  left: 50%;
  transform:translateX(-50%);
  position: absolute;
  width: 180px;
}

.vanilla {
  top: 50px;
  left: 50%;
  transform:translateX(-50%);
  position: absolute;
  width: 180px;
}

}
